{% if newuser %}
Hi {{user.first_name|capfirst}} {{user.last_name}},<br><br>
Welcome to Callapp,<br><br>
Your account has been  created successfully.
Click the link below (or copy paste into browser) to set your password

{% else %}
You're receiving this email because you requested a password change.<br>
It can be safely ignored if you did not request a password reset. Click the link below (or copy paste into browser) to reset your password.
<br>
{% endif%}
<br>
{{ password_reset_url }}
<br><br>

Thank you,<br>
Your Callapp Team