{% extends "base.html" %}
                      {% block content %}
                    <div class="col-md-12 widget-module">
                    <div class="col-md-12 widget-module">
                        <!-- <div class="box-widget">
                            <div class="widget-head clearfix">
                                <span class="h-icon"><i class="icon-user"></i></span>
                                <h4 class="pull-left">Pacients</h4>
                                
                            </div> -->
                            <div class="widget-container">
                                <div class="widget-block">
                                    <div class="widget-content">
                                        <!--box-spacing define 20px padding for all content here-->
                                        <table class="table responsive">
                                            <tbody>
                                        
                                                <tr>
                                               
                                                    <td> <i class="fa fa-male" style="font-size:30px"></i></td>
                                                    <td>
                                                        Nadiya
                                                    </td>
                                                    <td>
                                                        9797876509
                                                    </td>
                                                   <td>
                                                       <i class=" fa fa-pencil"></i>
                                                   </td>
                                                   
                                                </tr>


                                                <tr>
                                               
                                                    <td> <i class="fa fa-female " style="font-size:30px"></i></td>
                                                    <td>
                                                        Owais Mushtaq
                                                    </td>
                                                    <td>
                                                        9797876509
                                                    </td>
                                                   <td>
                                                       <i class="fa fa-pencil"></i>
                                                   </td>
                                                   
                                                </tr>
                                      

                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       
                    </div>
                         
                   {% endblock %}
                