{% load url from future %}
{% load i18n %}

{% block head_title %}Reset Password{% endblock %}

{% block section_content %}
<div class="row-fluid marginbtm">
    <h3 class="hdBrd inlineHeading page-heading">Reset Password</h3>
    <h5> Please create a new password. call App requires a password change every 90 days </h5>
    <form method="POST" action="{% url "password_expire_reset" uidb36=uidb36 token=token %}" id="passform" class="form-horizontal" >
         <div class="bothmust">
            {% csrf_token %}
            {{ form }}
        </div>
            <br/>
            <button type="submit" class="btn btn-success btn-large">Save</button>
            <h5 id="nomatch"></h5>
    </form>
    <span class="muted">Password should be atleast 6 characters in length, including a mix of numbers and letters</span>
</div><!--/.fluid-container-->



{% endblock %}

{% block extra_js %}
   <script type="text/javascript" src="{{STATIC_URL}}js/password_reset.js"></script>
{% endblock %}


{% block fixFooter %}fixFooter{% endblock %}
