{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
<br/>
                {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    
         <center> <h3>Password Changed Successfully</h3></center>
          <hr/>
            <p style="text-align:center;">You may now login using your new password by <a href="{% url 'account_login' %}">clicking here</a></p>

{% endblock %}
