<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Jewellery</title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css">
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="{{STATIC_URL}}scss/main.css">
</head>
 <body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
       <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
              <a class="navbar-brand" href="#">Jewellery name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#">currency</a></li>
                    <li><a href="#">WishList</a></li>
                    <li><a href="#">Login</a></li>
                     <li><a href="#">Register</a></li>
                    </ul>
            </div>
        </div>
    </nav>
 <section class="section_search">
<div class="container">
<div class="row">
    <div class="col-md-6">
        <div>
            <form>
            <input type="search" placeholder="search your products">
            <button type="submit">search</button>
                </form>
            </div>
        </div>
    </div>
</div>
     </section>
<section class="showcase">
    <div class="container showcase-content">
        <h1>jewellerty</h1>
        <p class="lead">facilisis in, egestas eget quam. Donec id elit non mi porta
            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.facilisis in, egestas eget quam. Donec id elit
            non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.facilisis in, egestas eget quam
            . Donec id elit non mi port</p>
        </div>

    </section>



 <section>
  <div class="container">
<div class="row">
        <div class="col-md-4">
            <div class="block block-category">

            <img src="{{ STATIC_URL }}images/a.jpg" height="200px" >
            <h6>Category 1</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block-category">

            <img src="{{ STATIC_URL }}images/a.jpg" height="200px">
            <h6>Category 1</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block-category">

                <img src="{{ STATIC_URL }}images/a.jpg" height="200px" >
                <h6>Category 1</h6>
                </div>
        </div>
        </div>
    </div>
      </div>

     </section>


 <section>

  <div class="container">
      <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
<div class="row">
    <div class="col-md-3">
        <div class="block block-item">

            <img src="{{ STATIC_URL }}images/a.jpg" height="200px" >
            <h5>Diamond</h5>
            <h6>Rs 9000</h6>
            </div>
        </div>
        <div class="col-md-3">
        <div class="block block-category">

            <img src="{{ STATIC_URL }}images/a.jpg" height="200px">
            <h6>Category 1</h6>
            </div>
        </div>
        <div class="col-md-3">
        <div class="block block-category">

            <img src="{{ STATIC_URL }}images/a.jpg" height="200px" >
            <h6>Category 1</h6>
            </div>
        </div>
        </div>
    </div>
      </div>
     </section>

<footer>
    <div class="container">
<div class="row">
<div class="col-md-4">
                      <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
    </div>
    <div class="col-md-4">
                      <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
    </div>
    <div class="col-md-4">
                      <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
    </div>
    </div>
    </div>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  </body>
</html>