{% extends "connect_base_ni.html" %}
{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Reset Your Password" %}{% endblock %}

{% block ccontent %}
<div class="row-fluid marginbtm">
    <h3 class="hdBrd inlineHeading page-heading">Reset Your Password</h3>
    <h5>Please enter and confirm your new password </h5>
    <h5>Please use at least 6 characters, including a mix of numbers and letters</h5>
    <form method="POST" action="">
        <fieldset>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <button type="submit" class="btn btn-success">{% trans "Reset" %}</button>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block fixFooter %}fixFooter{% endblock %}
