{% extends "connect_base_ni.html" %}
{% load url from future %}
{% load i18n %}

{% block ccontent %}
<div class="row-fluid marginbtm">
    <h3 class="hdBrd inlineHeading page-heading">Set Your New Password</h3>
    <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}" id="passform" class="form-horizontal" >
         <div class="bothmust">
            {% csrf_token %}
            {{ form }}
        </div>
            <br/>
            <button type="submit" class="btn btn-success btn-large">Save</button>
            <h5 id="nomatch"></h5>
    </form>
    <span class="muted">Password should be atleast 6 characters in length, including a mix of numbers and letters</span>
</div><!--/.fluid-container-->

{% endblock %}

{% block extra_js %}
   <script type="text/javascript" src="{{STATIC_URL}}js/password_reset.js"></script>
{% endblock %}

